@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'just';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/fonts/Jost-MediumItalic.ttf') format('ttf');
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
@keyframes appear {
  to {
      opacity: 1;
  }
}